<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".log" mimeType="text/plain" />
        </staticContent>
        <httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
			</customHeaders>
		</httpProtocol>
        <rewrite>
            <rules>
                <clear />
                <rule name="URI" enabled="true">
                    <match url="vn" negate="false" />
                    <action type="Redirect" url="https://{HTTP_HOST}" />
                </rule>
                <rule name="HTTPS" enabled="true" stopProcessing="true">
                    <match url="(.*)" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="off" />
                        <add input="{HTTP_HOST}" pattern="inevn" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="SeeOther" />
                </rule>
                <rule name="Rewrite" enabled="true">
                    <match url=".*" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>